*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 40%;
    margin: 50px auto;
    box-shadow: 0 0 8px rgba(0,0,0, .6);
    background-color: #2c2f34;
}
.box {
    padding: 30px;
}
.box .calculating {
    padding: 20px 30px;
    box-shadow: -8px -8px 15px rgba(255,255,255, .1),5px 5px 15px rgba(0,0,0, .2);
    background-color: transparent;
    color: white;
    margin-bottom: 55px;

}
.box .calculating .result {
    font-size: 40px;
    text-align: right;
    height: 40px;
}
.box .symbols {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.box .symbols .symbol-type {
    padding: 20px;
    flex: 0 0 20%;
    display: flex;
    box-shadow: -8px -8px 15px rgba(255,255,255, .1),5px 5px 15px rgba(0,0,0, .2);
    background-color: transparent;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.box .numbers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box .numbers .number {
    padding: 20px;
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -8px -8px 15px rgba(255,255,255, .1),5px 5px 15px rgba(0,0,0, .2);
    background-color: transparent;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.zero-box .zero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255, .1),5px 5px 15px rgba(0,0,0, .2);
    background-color: transparent;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    margin:0 auto 10px auto;
    cursor: pointer;
    width: 30%;
}
.equally-box {
    display: flex;
    justify-content: space-between;
}
.equally-box div {
    flex: 0 0 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255, .1),5px 5px 15px rgba(0,0,0, .2);
    background-color: transparent;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    margin:0 auto 10px auto;
    cursor: pointer;
}
